<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maas.soft.i_eye">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_eye"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_eye_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.NoReservedMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SplashActivity" />
        <activity android:name=".ui.ReservedMainActivity" />
        <activity android:name=".ui.SearchDestinationActivity" />
        <activity android:name=".ui.SearchFavoritesActivity" />
        <activity android:name=".ui.DirectionsActivity" />
        <activity android:name=".ui.FavoritesActivity" />
        <activity android:name=".ui.RegisterFavoritesActivity" />
        <activity android:name=".ui.CheckCurrentLocationActivity" />
        <activity android:name=".ui.SearchingForLocationActivity" />
        <activity android:name=".ui.ReserveActivity" />
        <activity android:name=".ui.CheckDestinationActivity"></activity>
    </application>

</manifest>