<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maas.soft.i_eye" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_eye"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_eye_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".ui.DeleteFavoritesActivity" android:label="즐겨찾기 삭제">
        </activity>
        <activity android:name=".ui.NoReservedMainActivity" android:label="메인"/>
        <activity android:name=".ui.SplashActivity" android:label="">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ReservedMainActivity" android:label="메인"/>
        <activity android:name=".ui.SearchDestinationActivity" android:label="목적지 검색"/>
        <activity android:name=".ui.SearchFavoritesActivity" android:label="즐겨찾기 검색"/>
        <activity android:name=".ui.DirectionsActivity" android:label="길찾기"/>
        <activity android:name=".ui.FavoritesActivity" android:label="즐겨찾기 목록"/>
        <activity android:name=".ui.RegisterFavoritesActivity" android:label="즐겨찾기 등록"/>
        <activity android:name=".ui.CheckCurrentLocationActivity" android:label="현재위치 확인"/>
        <activity android:name=".ui.SearchingForLocationActivity" android:label=""/>
        <activity android:name=".ui.ReserveActivity" android:label="경로 선택"/>
        <activity android:name=".ui.CheckDestinationActivity" android:label="목적지 확인"/>
    </application>

</manifest>